.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.pt-10 {
  padding-top: 10px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-175 {
  padding-top: 175px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-225 {
  padding-top: 225px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-500 {
  padding-top: 500px;
}