$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
    --backgroundColor: #FFF700;
    --bezier: cubic-bezier(.5,-.75,.7,2);

    body {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        color: black;
        background-color: var(--backgroundColor);
    }

    p {
        font-size: 2.5vh;

        b {
            font-weight: 700;
        }
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            text-decoration:underline;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
    }

    h1 {
        font-style: italic;
        font-size: 6vh;
    }

    h5 {
        font-style: normal;
        font-size: 1.8vh;
    }

    .hover-spin {
        transform: rotate(0) scale(1);
        display: inline-flex;
        transition: all 0.2s var(--bezier);

        &:hover {
            transform: rotate(8deg) scale(1.1);
        }
    }

    .container {
        width: 50vh;
    }

    #logo {
        width: 100%;
    }

    .hoverableText {
        .animatedText {
            transform: translateY(0) rotate(0);
            transition: all 0.2s ease-in-out;
            display: inline-flex;
            animation-name: letterHover;
            animation-duration: 0s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
            letter-spacing: -3pt;
            word-spacing: 3pt;

            &.a {
                animation-delay: 0.33s;
            }

            &.b {
                animation-delay: 0.66s;
            }

            &.c {
                animation-delay: 1s;
            }
            
            &.d {
                animation-delay: 1.33s;
            }
        }
        &:hover {
            .animatedText {
                animation-duration: 0.8s;
            }
        }
    }

    @keyframes letterHover {
        0%   {transform: translateY(0) rotate(0);}
        100%   {transform: translateY(-0.5vh) rotate(360deg);}
    }

    .divider {
        &::before, &::after {
            content: "";
            height: 2px;
            width: 10vh;
            display: inline-block;
            background-color: black;
        }

        img {
            height: 100%;
            padding-top: 0.5vh;
        }

        i {
            font-style: normal;
            font-size: 4vh;
            display: inline-block;
            transform: translateY(1vh);
        }
    }

    .socials {
        a {
            padding: 0 0.5vh;
            display: inline-block;
            transition: all 0.2s var(--bezier);

            img {
                width: 5vh;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .footer {
        font-family: 'Montserrat', sans-serif;
        p {
            font-size: 2vh;
        }
    }
}