@charset "UTF-8";
:root {
  --backgroundColor: #0dc486;
  --backgroundAccentA: #16a27f;
  --backgroundAccentB: #19b18b;
  --highlightColor: #ff00ff;
  --backdropColor: black;
  --headlineColor: #FF00D5;
  --textColor: white;
  --bezier: cubic-bezier(.5,-.75,.7,2);
}
@font-face {
  font-family: "Pixel";
  src: url("../fonts/x16y32pxGridGazer.woff") format("woff"), url("../fonts/x16y32pxGridGazer.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
:root body {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  margin: 0;
}
:root p {
  font-size: 1.7vh;
}
:root b {
  font-weight: 700;
}
:root a {
  text-decoration: none;
  color: var(--textColor);
  transition: transform 0.5s ease;
}
:root a:hover {
  transform: scale(1.05);
}
:root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}
:root h1, :root h2 {
  color: var(--headlineColor);
}
:root h1 {
  font-family: "Pixel", sans-serif;
  font-weight: normal;
  line-height: 0.8;
  font-size: 6vh;
}
@media (min-width: 768px) {
  :root h1 {
    font-size: 8vh;
  }
}
:root h5 {
  font-style: normal;
  font-size: 1.8vh;
}
:root span {
  position: absolute;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  z-index: 100;
  line-height: 1;
  transform: rotate(-15deg);
  transition: all 0.5s cubic-bezier(0.57, 0.27, 0.63, 1.39);
  font-size: 1.9vh;
  padding: 1vh 2vh;
}
@media (min-width: 768px) {
  :root span {
    padding: 0.1vh 0.5vh;
    font-size: 4.5vh;
  }
}
:root span.left {
  transform: rotate(15deg);
}
:root span.out {
  transform: rotate(0) scale(0);
}
:root span::before {
  background-color: var(--backgroundColor);
  position: absolute;
  left: -0.5vh;
  right: -0.5vh;
  bottom: 0.5vh;
  top: 0.5vh;
  content: " ";
  z-index: -1;
}
:root span::after {
  position: absolute;
  left: calc(50% - 0.75vh);
  bottom: calc(-1.5vh + 1px);
  width: 1.5vh;
  height: 1.5vh;
  display: block;
  background-color: var(--backgroundColor);
  content: " ";
  z-index: 50;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
:root .speechbubble-bottom {
  margin: 2vh auto;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--backdropColor);
  position: relative;
  font-family: "Pixel", sans-serif;
  text-transform: uppercase;
  font-size: 2vh;
  line-height: 1;
  transform: rotate(0);
  padding: 1vh 3vh;
}
@media (min-width: 992px) {
  :root .speechbubble-bottom {
    font-size: 3vh;
    padding: 1vh;
  }
}
:root .speechbubble-bottom b {
  color: var(--headlineColor);
}
:root .speechbubble-bottom::before {
  background-color: var(--backdropColor);
  position: absolute;
  left: -0.5vh;
  right: -0.5vh;
  bottom: 0.5vh;
  top: 0.5vh;
  content: " ";
  z-index: -1;
}
:root .speechbubble-bottom::after {
  position: absolute;
  left: calc(50% - 0.75vh);
  top: calc(-1.5vh + 1px);
  width: 1.5vh;
  height: 1.5vh;
  display: block;
  background-color: var(--backdropColor);
  content: " ";
  -webkit-clip-path: polygon(0 100%, 100% 100%, 50% 0%);
  clip-path: polygon(0 100%, 100% 100%, 50% 0%);
}
:root .background {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
:root .background .main {
  width: 150%;
  min-height: 100vw;
  height: 200%;
  min-height: 100vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
:root .background .main .section {
  position: absolute;
  width: 100%;
}
:root .background .main .section_wave {
  top: 0;
  transform: rotate(-30deg);
  display: none;
  display: inherit;
}
:root .background .main .section_hills {
  bottom: 25%;
  transform: scaleX(133.34%);
  animation: _move 7s linear infinite;
}
@keyframes _move {
  0% {
    transform: translateX(-33%) scaleX(133.34%);
  }
  100% {
    transform: translateX(33%) scaleX(133.34%);
  }
}
:root .background .hill {
  fill: var(--backgroundAccentB);
}
:root .background .hill_1 {
  transform: translateY(25%);
  fill: var(--backgroundAccentA);
}
:root .background .dash {
  stroke-dasharray: 700;
  animation: dash 25s linear infinite;
  stroke: var(--highlightColor);
}
:root .background .dash_0 {
  animation-delay: 0s;
}
:root .background .dash_1 {
  transform: translateY(20vh);
  animation-delay: 2.5s;
}
:root .background .dash_2 {
  transform: translateY(40vh);
  animation-delay: 3s;
}
:root .background .dash_3 {
  transform: translate(10vh, 50vh);
  animation-delay: 3.5s;
}
:root .background .dash_4 {
  transform: translateY(60vh);
  animation-delay: 1s;
}
:root .background .dash_5 {
  transform: translateY(80vh);
  animation-delay: 5s;
}
:root .background .dash_6 {
  transform: translate(10vh, 90vh);
  animation-delay: 4.5s;
}
:root .background .dash_7 {
  transform: translate(100vh);
  animation-delay: 1.5s;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 9800;
  }
}
@media (min-width: 992px) {
  :root .maxW {
    width: 80vw;
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1400px) {
  :root .maxW {
    width: 64vw;
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
  }
}
:root .content {
  position: relative;
  perspective: 10px;
}
:root .content .wrap {
  padding: 0 4vh 6vw;
}
@media (min-width: 768px) {
  :root .content .wrap {
    padding: 0 16vh 9vh;
  }
}
:root .content .backdrop {
  position: relative;
  transform-origin: 50%;
  min-height: 12vh;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.5s ease;
}
:root .content .backdrop i {
  font-style: normal;
  background-color: var(--backdropColor);
}
:root .content .backdrop::before {
  background-color: var(--backdropColor);
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
:root .content .backdrop.top {
  -webkit-clip-path: polygon(0 2.5vw, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 2.5vw, 100% 0, 100% 100%, 0 100%);
  margin-top: 4vh;
}
@media (min-width: 992px) {
  :root .content .backdrop.top {
    margin-top: 0;
  }
}
:root .content .backdrop.mid {
  display: flex;
  align-items: end;
  max-height: 12vh;
  padding: 0 4vh 3vh;
}
@media (min-width: 768px) {
  :root .content .backdrop.mid {
    padding: 0 16vh 3vh;
  }
}
:root .content .backdrop.mid::before {
  top: -1px;
  bottom: -1px;
}
@media (min-width: 992px) {
  :root .content .backdrop.mid::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(50% - 2vh), calc(100% - 2vh) 50%, 100% calc(50% + 2vh), 100% 100%, 0 100%, 0 calc(50% + 2vh), 2vh 50%, 0 calc(50% - 2vh));
    clip-path: polygon(0 0, 100% 0, 100% calc(50% - 2vh), calc(100% - 2vh) 50%, 100% calc(50% + 2vh), 100% 100%, 0 100%, 0 calc(50% + 2vh), 2vh 50%, 0 calc(50% - 2vh));
  }
}
:root .content .backdrop.mid::after {
  background-image: url("../img/line.png");
  content: " ";
  left: 0;
  right: 0;
  display: block;
  height: 1vh;
  background-repeat: repeat-x;
  background-size: 2.6vh;
  position: absolute;
  z-index: -1;
  top: calc(50% - 0.5vh);
}
@media (min-width: 992px) {
  :root .content .backdrop.mid::after {
    left: 4vh;
    right: 4vh;
  }
}
:root .content .backdrop.bot {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
}
:root .content .backdrop.out {
  transform: translateZ(-0.5px);
}
:root .content .header {
  top: 0;
  left: 0;
  height: 55vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
}
:root .content #start p {
  padding-bottom: 2vh;
}
:root .content #start .socials {
  display: flex;
}
:root .content #start .socials a {
  padding: 0 0.5vh;
  display: inline-block;
  transition: all 0.2s var(--bezier);
}
:root .content #start .socials a img {
  width: 4.5vh;
}
:root .content #start .socials a:hover {
  transform: scale(1.1);
}
:root .content .game-image {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
}
:root .content #spaceSprouts ul {
  padding: 0;
  margin-bottom: 4vh;
}
:root .content #spaceSprouts ul li {
  list-style: none;
  font-size: 1.7vh;
  height: 5vh;
}
:root .content #spaceSprouts ul li img {
  width: auto;
  transform: translateY(8%);
}
:root .content #spaceSprouts .linkouts .row {
  display: block;
  padding: calc((0.5vh + 0.5vw) * 4);
}
@media (min-width: 576px) {
  :root .content #spaceSprouts .linkouts .row {
    display: inherit;
    align-items: center;
    padding: 0;
  }
}
:root .content #spaceSprouts .linkouts .row .col {
  width: 100%;
  max-width: 100%;
  height: 10vh;
  padding-top: 1vh;
  vertical-align: middle;
}
@media (min-width: 1200px) {
  :root .content #spaceSprouts .linkouts .row .col {
    padding-top: 0;
    max-width: 33%;
  }
}
:root .content #spaceSprouts .linkouts .row .col .item {
  display: flex;
  align-items: center;
  font-size: 1.7vh;
}
:root .content #spaceSprouts .linkouts .row .col .item :first-child {
  padding-right: 1vh;
}
:root .content #spaceSprouts .linkouts .row .col .item img {
  width: auto;
  max-width: 8vh;
}
:root .content #spaceSprouts .linkouts .row .col .item.regular {
  font-size: 2.5vh;
}
@media (min-width: 992px) {
  :root .content #spaceSprouts .linkouts .row .col .item.regular {
    font-size: 1.7vh;
  }
}
:root .content #spaceSprouts .linkouts .row .col .item.special {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
:root .content #spaceSprouts .linkouts .row .col .item.special img {
  width: 100%;
  max-width: calc((0.5vh + 0.5vw) * 24);
  padding-left: 1vw;
}
@media (min-width: 992px) {
  :root .content #spaceSprouts .linkouts .row .col .item.special img {
    padding-left: 0;
  }
}
:root .content #team .row {
  padding-bottom: 20px;
  display: block;
}
@media (min-width: 992px) {
  :root .content #team .row {
    display: flex;
  }
}
:root .content #team .row .col-auto {
  text-align: start;
}
:root .content #team .row img {
  max-height: 20vh;
  border-radius: 100%;
  width: auto;
  transition: transform 10s ease;
}
:root .content #team .row img:hover {
  transform: rotate(7200deg);
}
:root .content #team .row .details {
  padding-top: 3vh;
  text-align: start;
}
:root .content #team .row .details h3 {
  color: var(--textColor);
  font-weight: 600;
  font-size: 1.9vh;
}
:root .content #team .row .details h4 {
  color: var(--textColor);
  font-weight: 300;
  font-size: 1.9vh;
}
:root .content #imprint {
  min-height: 100vh;
  display: flex;
}
:root .content #imprint .all {
  margin: auto;
  width: 100%;
}
:root .content #imprint .all h1 {
  padding-bottom: 4vh;
}
:root .content #imprint .all h2 {
  padding-top: 1vh;
}
:root .overlay {
  z-index: 10;
}
:root .footer {
  position: fixed;
  right: 1.5vh;
  bottom: 0;
  background-color: var(--backdropColor);
  font-size: 1.3vh;
  margin: 2vh;
  padding: 0.75vh 1.5vh;
  z-index: 10;
  text-align: center;
  cursor: pointer;
}
:root .header-wrapper {
  position: fixed;
  top: 0;
  margin: auto;
  display: flex !important;
  width: 100vw;
  height: 4vh;
  z-index: 10;
  align-content: space-between;
  background-color: #1abc94;
}
@media (min-width: 992px) {
  :root .header-wrapper {
    width: 80vw;
    max-width: 120vh;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    background-color: transparent;
  }
}
@media (min-width: 1400px) {
  :root .header-wrapper {
    width: 64vw;
    max-width: 120vh;
  }
}
:root .header-wrapper #logo {
  background-color: black;
  position: relative;
  padding-bottom: 1.5vh;
  height: auto;
  min-width: 9vh;
  left: 3vw;
  top: 0;
  margin-bottom: -8vh;
  right: auto;
  margin-right: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
}
@media (min-width: 1400px) {
  :root .header-wrapper #logo {
    margin-bottom: auto;
    left: -12vw;
    transform-origin: top;
    transition: transform 0.5s ease;
    width: auto;
    transform: scale(1);
  }
  :root .header-wrapper #logo.small {
    transform: scale(0.67);
  }
}
:root .header-wrapper #logo img {
  width: 100%;
  position: absolute;
  bottom: 1vh;
}
@media (min-width: 992px) {
  :root .header-wrapper #logo img {
    width: 10vw;
    height: auto;
    position: relative;
    padding-top: 1vw;
    padding-left: 0.2vw;
    padding-right: 0.2vw;
  }
}
:root .header-wrapper .nav {
  width: 100%;
  z-index: 20;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 3vw;
}
@media (min-width: 992px) {
  :root .header-wrapper .nav {
    width: auto;
    height: auto;
    position: absolute;
    background-color: var(--backgroundColor);
    right: 0;
    padding: 0.2% 1%;
    margin: 2%;
  }
}
:root .header-wrapper .nav li {
  display: inline-block;
  position: relative;
  margin: auto;
  line-height: 1;
}
@media (min-width: 992px) {
  :root .header-wrapper .nav li {
    padding: 0.5vh 1.5vh;
  }
}
:root .header-wrapper .nav li ::before {
  content: " ";
  background-color: var(--highlightColor);
  position: absolute;
  width: 100%;
  height: 0%;
  top: 110%;
  left: 0;
  z-index: -10;
  transform: rotate(-2deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
:root .header-wrapper .nav li.active ::before {
  height: 50%;
  top: 50%;
  transform: rotate(0deg);
}
:root .header-wrapper .nav li:hover ::before {
  height: 100%;
  top: 0;
  transform: rotate(2deg);
}
:root .header-wrapper .nav li a {
  font-size: 1.9vh;
  padding: 2% 1vh;
  font-weight: 700;
  color: var(--backdropColor);
  text-transform: uppercase;
}
:root .header-wrapper .nav li a:hover {
  background-color: transparent;
}
:root .scroll-fade {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}
:root .scroll-fade.in {
  opacity: 1;
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */