@charset "UTF-8";
:root {
  --backgroundColor: #1abc94;
  --highlightColor: #ff00ff;
  --backdropColor: black;
  --headlineColor: #FF00D5;
  --textColor: white;
  --bezier: cubic-bezier(.5,-.75,.7,2);
}
@font-face {
  font-family: "Pixel";
  src: url("../fonts/x16y32pxGridGazer.woff") format("woff"), url("../fonts/x16y32pxGridGazer.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
:root body {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  margin: 0;
}
:root p {
  font-size: 1.7vh;
}
:root p b {
  font-weight: 700;
}
:root a {
  text-decoration: none;
  color: var(--textColor);
  transition: transform 0.5s ease;
}
:root a:hover {
  transform: scale(1.05);
}
:root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0;
}
:root h1, :root h2 {
  color: var(--headlineColor);
}
:root h1 {
  font-family: "Pixel";
  font-size: 8vh;
  font-weight: normal;
  line-height: 0.8;
}
:root h5 {
  font-style: normal;
  font-size: 1.8vh;
}
:root span {
  position: absolute;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  z-index: 100;
  font-size: 4vh;
  padding: 0.1vh 1.5vh;
  line-height: 1;
  transform: rotate(-15deg);
}
:root span::before {
  background-color: var(--backgroundColor);
  position: absolute;
  left: -0.5vh;
  right: -0.5vh;
  bottom: 0.5vh;
  top: 0.5vh;
  content: " ";
  z-index: -1;
}
:root span::after {
  position: absolute;
  left: calc(50% - 0.75vh);
  bottom: calc(-1.5vh + 1px);
  width: 1.5vh;
  height: 1.5vh;
  display: block;
  background-color: var(--backgroundColor);
  content: " ";
  z-index: 50;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
:root .background {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: none;
}
:root .background .main {
  width: 150%;
  min-height: 100vw;
  height: 200%;
  min-height: 100vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
:root .background .main .section_wave {
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}
:root .background .dash {
  stroke-dasharray: 700;
  animation: dash 15s linear infinite;
  stroke: var(--highlightColor);
}
:root .background .dash_0 {
  animation-delay: 0s;
}
:root .background .dash_1 {
  transform: translateY(20vh);
  animation-delay: 2.5s;
}
:root .background .dash_2 {
  transform: translateY(40vh);
  animation-delay: 6s;
}
:root .background .dash_3 {
  transform: translateY(60vh);
  animation-delay: 4s;
}
:root .background .dash_4 {
  transform: translateY(80vh);
  animation-delay: 1s;
}
:root .background .dash_5 {
  transform: translateY(100vh);
  animation-delay: 5s;
}
:root .background .dash_6 {
  transform: translateY(120vh);
  animation-delay: 3s;
}
:root .background .dash_7 {
  transform: translate(140vh);
  animation-delay: 1.5s;
}
:root .background .dash_8 {
  transform: translateY(160vh);
  animation-delay: 5.5s;
}
:root .background .dash_9 {
  transform: translateY(180vh);
  animation-delay: 1s;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 9800;
  }
}
:root .content {
  position: relative;
  perspective: 10px;
}
@media (min-width: 992px) {
  :root .content {
    width: 64vw;
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
  }
}
:root .content .wrap {
  padding: 4vh 6vw;
}
@media (min-width: 768px) {
  :root .content .wrap {
    padding: 6vw 8vw;
  }
}
:root .content .backdrop {
  position: relative;
  transform-origin: 50%;
  min-height: 12vh;
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.5s ease;
}
:root .content .backdrop::before {
  background-color: var(--backdropColor);
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
:root .content .backdrop.top {
  -webkit-clip-path: polygon(0 2.5vw, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 2.5vw, 100% 0, 100% 100%, 0 100%);
}
:root .content .backdrop.mid {
  padding: 0 8vw 3vh;
  display: flex;
  align-items: end;
  max-height: 12vh;
}
:root .content .backdrop.mid i {
  font-style: normal;
  background-color: var(--backdropColor);
}
:root .content .backdrop.mid::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(50% - 2vh), calc(100% - 2vh) 50%, 100% calc(50% + 2vh), 100% 100%, 0 100%, 0 calc(50% + 2vh), 2vh 50%, 0 calc(50% - 2vh));
  clip-path: polygon(0 0, 100% 0, 100% calc(50% - 2vh), calc(100% - 2vh) 50%, 100% calc(50% + 2vh), 100% 100%, 0 100%, 0 calc(50% + 2vh), 2vh 50%, 0 calc(50% - 2vh));
  top: -1px;
  bottom: -1px;
}
:root .content .backdrop.mid::after {
  background-image: url("../img/line.png");
  content: " ";
  left: 4vh;
  right: 4vh;
  display: block;
  height: 1vh;
  background-repeat: repeat-x;
  background-size: 2vh;
  position: absolute;
  z-index: -1;
  top: calc(50% - 0.5vh);
}
:root .content .backdrop.bot {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
}
:root .content .backdrop.out {
  transform: translateZ(-0.5px);
}
:root .content .header {
  top: 0;
  left: 0;
  height: 62vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2.5vw), 0 100%);
}
:root .content #start {
  padding-top: 0;
}
:root .content #start p {
  padding-bottom: 2vh;
}
:root .content #start .socials {
  display: flex;
}
:root .content #start .socials a {
  padding: 0 0.5vh;
  display: inline-block;
  transition: all 0.2s var(--bezier);
}
:root .content #start .socials a img {
  width: 3.5vw;
}
:root .content #start .socials a:hover {
  transform: scale(1.1);
}
:root .content .game-image {
  width: 100%;
}
:root .content #spaceSprouts ul {
  padding-top: 3vh;
}
:root .content #spaceSprouts ul li {
  list-style: none;
  font-size: 1.7vh;
}
:root .content #spaceSprouts ul li img {
  width: auto;
}
:root .content #spaceSprouts .linkouts .row {
  display: block;
  padding: calc((0.5vh + 0.5vw) * 4);
}
@media (min-width: 576px) {
  :root .content #spaceSprouts .linkouts .row {
    display: inherit;
    align-items: center;
    padding: 0;
  }
}
:root .content #spaceSprouts .linkouts .row .col {
  width: 100%;
  max-width: 100%;
  height: 10vh;
  padding-top: 1vh;
  vertical-align: middle;
}
@media (min-width: 992px) {
  :root .content #spaceSprouts .linkouts .row .col {
    padding-top: 0;
    max-width: 33%;
  }
}
:root .content #spaceSprouts .linkouts .row .col .item {
  display: flex;
  align-items: center;
  font-size: 1.7vh;
}
:root .content #spaceSprouts .linkouts .row .col .item :first-child {
  padding-right: 1vh;
}
:root .content #spaceSprouts .linkouts .row .col .item img {
  width: auto;
  max-width: 8vh;
}
:root .content #spaceSprouts .linkouts .row .col .item.special {
  display: block;
}
:root .content #spaceSprouts .linkouts .row .col .item.special img {
  width: 100%;
  max-width: calc((0.5vh + 0.5vw) * 15);
  padding-left: 1vw;
}
@media (min-width: 992px) {
  :root .content #spaceSprouts .linkouts .row .col .item.special img {
    padding-left: 0;
  }
}
:root .content #team .row {
  padding-bottom: 20px;
  display: block;
}
@media (min-width: 768px) {
  :root .content #team .row {
    display: flex;
  }
}
:root .content #team .row .col-auto {
  text-align: center;
}
@media (min-width: 576px) {
  :root .content #team .row .col-auto {
    text-align: start;
  }
}
:root .content #team .row img {
  max-height: 20vh;
  border-radius: 100%;
  width: auto;
  transition: transform 10s ease;
}
:root .content #team .row img:hover {
  transform: rotate(7200deg);
}
:root .content #team .row .details {
  padding-top: 3vh;
  text-align: center;
}
@media (min-width: 576px) {
  :root .content #team .row .details {
    text-align: start;
  }
}
:root .content #team .row .details h3 {
  color: var(--textColor);
  font-weight: 600;
  font-size: 1.9vh;
}
:root .content #team .row .details h4 {
  color: var(--textColor);
  font-weight: 300;
  font-size: 1.9vh;
}
:root .overlay {
  z-index: 10;
}
:root .footer {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--backdropColor);
  font-size: 1.3vh;
  margin: 2vh;
  padding: 0.75vh 0;
  z-index: 10;
  width: calc(18vw - 6vh);
  text-align: center;
  cursor: pointer;
}
:root .header-wrapper {
  position: fixed;
  top: 0;
  margin: auto;
  display: flex !important;
  width: 100vw;
  height: 6vh;
  z-index: 10;
  align-content: space-between;
  background-color: #1abc94;
}
@media (min-width: 992px) {
  :root .header-wrapper {
    width: 64vw;
    max-width: 120vh;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
}
:root .header-wrapper #logo {
  position: relative;
  z-index: 20;
  height: 100%;
  padding: 0.5vh;
}
@media (min-width: 768px) {
  :root .header-wrapper #logo {
    background-color: black;
    position: fixed;
    height: auto;
    padding: 0.5vw 0.5vw 1.5vw;
    left: -12vw;
    top: 0;
    transform-origin: top;
    transition: transform 0.5s ease;
    transform: scale(1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0 100%);
  }
  :root .header-wrapper #logo.small {
    transform: scale(0.67);
  }
}
:root .header-wrapper #logo img {
  height: 100%;
}
@media (min-width: 768px) {
  :root .header-wrapper #logo img {
    width: 7vw;
    height: auto;
  }
}
:root .header-wrapper .nav {
  width: 100%;
  z-index: 20;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  :root .header-wrapper .nav {
    width: auto;
    height: auto;
    position: absolute;
    background-color: var(--backgroundColor);
    right: 0;
    padding: 0.2% 1%;
    margin: 2%;
  }
}
:root .header-wrapper .nav li {
  display: inline-block;
  position: relative;
  margin: auto;
  line-height: 1;
  padding: 0.5vh 2vh;
}
:root .header-wrapper .nav li ::before {
  content: " ";
  background-color: var(--highlightColor);
  position: absolute;
  width: 100%;
  height: 0%;
  top: 110%;
  left: 0;
  z-index: -10;
  transform: rotate(-2deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
:root .header-wrapper .nav li.active ::before {
  height: 50%;
  top: 50%;
  transform: rotate(0deg);
}
:root .header-wrapper .nav li:hover ::before {
  height: 100%;
  top: 0;
  transform: rotate(2deg);
}
:root .header-wrapper .nav li a {
  font-size: 1.7vh;
  padding: 2% 1vh;
  font-weight: 700;
  color: var(--backdropColor);
  text-transform: uppercase;
}
:root .header-wrapper .nav li a:hover {
  background-color: transparent;
}
:root .scroll-fade {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s ease-out;
}
:root .scroll-fade.in {
  opacity: 1;
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */