$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

:root {
    --backgroundColor: #1abc94;
    --highlightColor: pink;
    --textColor: white;
    --bezier: cubic-bezier(.5,-.75,.7,2);

    .background {
        position: absolute;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        ul {
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            transform: rotate(-2deg);
            $tileSize : 20vh;
            left: calc(-1 *  $tileSize);
            top: calc(-1 * $tileSize);
            width: calc(100% + $tileSize + $tileSize);
            height: calc(100% + $tileSize + $tileSize);
            li {
                background-image: url(../img/pattern.png);
                width: $tileSize;
                height: $tileSize;
                background-size: contain;
                list-style: none;
            }
        }
    }

    body {
        font-family: 'Exo', sans-serif;
        font-weight: 300;
        color: var(--textColor);
        background-color: var(--backgroundColor);
    }

    p {
        font-size: 2.5vh;

        b {
            font-weight: 700;
        }
    }

    a {
        text-decoration: none;
        color: var(--textColor);

        &:hover {
            text-decoration:underline;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 900;
    }

    h1 {
        font-style: italic;
        font-size: 6vh;
    }

    h5 {
        font-style: normal;
        font-size: 1.8vh;
    }

    section {
        height: 100vh;
    }

    .nav {
        right: 0;
        margin: 2%;
        background-color: var(--backgroundColor);
        li {
            display: inline-block; 
            &.active {
                    ::before {
                        content: " ";
                        background-color: var(--highlightColor);
                        position: absolute;
                        width: 100%;
                        height: 50%;
                        top: 50%;
                        left: 0;
                        z-index: -10;
                    }
            }  
        }
        
    }

  

    .socials {
        a {
            padding: 0 0.5vh;
            display: inline-block;
            transition: all 0.2s var(--bezier);

            img {
                width: 5vh;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}