:root {
  --keyColor: #ffab40;
  --backgroundColor: #222;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
  background-color: var(--backgroundColor);
}

.background-pattern {
  background: url(../img/pattern2.png);
  background-size: 25vw;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.05;
  z-index: -20;
}

.background-gradient {
  background: radial-gradient(circle at center, transparent 25%, black 150%);
  background-size: 33vw;
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -10;
}


h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1pt;
}

i {
  font-style: normal;
  text-align: justify;
  display: block;
}

c {
  font-weight: 800;
  background-color:var(--keyColor);
  color: var(--backgroundColor);
  text-transform: uppercase;
}

b {
  background-color:white;
  color: var(--backgroundColor);
}

ul {
  position: relative;
	list-style: none;
	margin-left: 0;
  padding-top: 6pt;
	padding-left: 1.2em;
}

ul li:before {
	content: "➔";
	position: absolute;
	left: 0;
}

a {
  color: var(--backgroundColor);
  background-color: white;
  font-weight: 600;
}

a:hover {
  color: white;
  background-color: transparent;
}

img {
  width: 100%;
}

#navbar {
  background-color: rgba(20, 20, 20, 0.5);
  box-shadow: rgba(20, 20, 20, 0.5) 0 10px 10px;
}

#navbar li::before {
content: none;
}

#logo {
  width: 80%;

}

#subtitle {
  text-transform: none;
  font-family: 'EB Garamond', serif;
  font-weight: 300;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

section {
  transition: all 0.05s ease;
}

#header {
  position: absolute;
  width: 100%;
}

.aboutCol {
  height: 600px;
}

#triforce h1 {
  font-weight: 900;
  font-size: x-large;
  letter-spacing: normal;
  background-color: var(--keyColor);
  color: var(--backgroundColor);
  text-transform: uppercase;
  display: inline-block;
  margin-top: 12pt;
  white-space: nowrap;
}
/*

#pillars {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
}

.dna-card {
  position: relative;
  transition: all 0.5s ease;
}

.dna-card-content {
  width: 100%;
  top: 0;
  position: absolute;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  text-align: center;
}

.dna-card .dna-card-content p {
  font-size: small;
}

.dna-card-frame {
  position: relative;
  backface-visibility: visible;
  box-shadow: rgb(0 0 0 / 100%) 7px 7px 50px;
}

.dna-card-front {
  padding: 15%;
  transform: rotateY(0deg);
}

.dna-card-back {
  padding: 15%;
  transform: rotateY(180deg);
}

.dna-card-front img {
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  position: relative;
}

.dna-card:hover .dna-card-front, 
.dna-card:hover .dna-card-frame {
  transform: rotateY(180deg);
}

.dna-card:hover .dna-card-back {
  transform: rotateY(0deg);
}

.dna-card:hover {
  transform: rotateZ(5deg) scale(1.1);
}
*/

#projects i {
  display: unset;
  font-style: italic;
}

#game-image {
  width: 100%;
  mask-mode: alpha;
  mask-image: url(img/game-mask1.png);
}

#team img {
  padding-bottom: 2vh;
  filter: drop-shadow(4pt 4pt 0em var(--keyColor))
  drop-shadow(4pt -4pt 0em var(--keyColor))
  drop-shadow(-4pt -4pt 0em var(--keyColor))
  drop-shadow(-4pt 4pt 0em var(--keyColor)
  );
}

#team h1 {
  font-weight: 100;
  text-transform: none;
  font-size: large;
  letter-spacing: 0;
}

#team h1 b {
  color: white;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
}

#team p b {
  background-color: var(--keyColor);
  font-weight: 800;
  text-transform: uppercase;
}

.nav-pills .nav-link {
  margin: 8px 8x;
  color: white;
  padding-bottom: 1px;
  display: inline-block;
  margin: 10px;
  padding: 0;
  border-radius: 0;
  transition: none;
  text-transform: uppercase;
}

.nav-pills .nav-link.active {
  color: var(--backgroundColor) !important;
  background-color: var(--keyColor);
  font-weight: 800;

}

.img-wrapper {
  width: 650px;
  position: absolute;
  top: 0;
}

.spacer {
  opacity: 0;
}


.colored {
  background-color: var(--backgroundColor);
}

.round {
  border-radius: 100%;
}

.float-bottom {
  position: absolute; 
  bottom: 5vh;
}

.stack {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.stack div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}